{% extends 'base.html' %}
{% load i18n static extras svg %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/resource.css" %}"/>
{% endblock %}

{% block "js" %}
  <script type="text/javascript">
    var validator_msgs = {
      quota: "{% trans "File size ({0}) must be less than your remaining quota: {1}" %}",
      is_image: "{% trans "This file must be an image." %}",
      category_size: "{% trans "This category requires a file size between {0} and {1}." %}",
      category_area: "{% trans "This category requires images to be {0}-{1} wide and {2}-{3} high." %}",
      category_type: "{% trans "This category requires files to be one of these types: {0}." %}",
      name: "{% trans "Please enter the resource's title." %}",
      desc: "{% trans "Please enter a description." %}",
      link: "{% trans "Please enter a URL." %}",
      category:"{% trans "Please select a category." %}",
      license : "{% trans "Please select a license." %}",
      owner : "{% trans "You must either be the owner or have permission to post this." %}",
      owner_name : "{% trans "Please enter the resource owner's name." %}"
    }
  </script>
  {{ block.super }}
  <meta name="youtube-key" content="{{ form.youtube_key }}"/>
  <script type="text/javascript" src="{% static "js/resource.js" %}"></script>
  <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
{% endblock %}

{% block content %}
  {% if form and form.non_field_errors %}
    <div class="errors">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  {% if object.is_removed and not perms.moderation.can_moderate %}
    <div class="item removed">
      <div class="image"><img src="{% static "images/removed.svg" %}"/></div>
      <div class="info">
	<div class="title"><h2>{% trans "Item Hidden by Moderators" %}</h2></div>
      </div>
    </div>
  {% else %}
  <div class="item{% if form %} edit{% endif %}{% if object and not object.published %} unpublished{% endif %}">
    {% if not form %}
      {% include "resources/resource_view.html" %}
    {% endif %}

    {% if not object.is_hidden %}
      {% block "description" %}{% endblock %}
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
